.header {
  padding: 10px;
  padding-bottom: 0px;
}

.header_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-large {
  font-size: 28px;
  font-weight: bold;
  padding: 0px 10px;
}

.header_details {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

.header_details p {
  margin: 0;
}

.header_details span {
  font-size: 30px;
  font-weight: 600;
}
